* {
  margin: 0;
  padding: 0;
}
.background-linear {
  height: 800px;
  background: rgb(30, 90, 99);
  background: linear-gradient(
    180deg,
    rgba(30, 90, 99, 1) 0%,
    rgb(253, 253, 253) 100%
  );
}
.navbar {
  display: flex;
  background-color: white;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.nav-text {
  color: rgb(18, 18, 18);
  padding: 10px;
  font-weight: bold;
  /* text-decoration: underline; */
  /* color: white; */
}
.nav-text:hover {
  color: rgb(46, 140, 70);
}
.right-nav {
  padding: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* left-navbar{
  display: flex;  
} */
.text-logo {
  font-size: 2rem;
  /* margin-top: 20px; */
  padding-top: 50px;
  padding-bottom: 20px;
}
.text-simple {
  font-size: 1.8rem;
}
.home-text {
  text-align: center;
  cursor: default;
  color: white;
}

img {
  height: 51px;
  width: 60px;
}
.search-field {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.search-bar {
  width: 400px;
  height: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  padding: 2px;
  outline: none;
  font-size: 1rem;
}
.search-btn {
  background-color: rgb(46, 140, 70);
  height: 54px;
  width: 70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  color: white;
  cursor: pointer;
}
.search-btn:active {
  box-shadow: -1px 0px 6px 0px white;
}

.grids {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 80%;
  margin: auto;
  height: 800px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.grid-box {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 325px;
  height: 255px;
  margin: 20px;
  box-shadow: -1px 0px 10px grey;
}
.grid-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 325px;
  height: 75px;
}
.grid-box-text {
  padding: 5px;
}

.gimage {
  height: 300px;
  width: 700px;
  margin: auto;
  background-size: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.grid-container {
  width: 70%;
  margin: auto;
  border-radius: 10px;
}
.grid-content {
  width: 300px;
  margin: 20px;
  cursor: default;
}
.flex-grid {
  display: flex;
  border: 1px solid grey;
  border-radius: 10px;
  /* box-shadow:  -1px 0px 10px  grey; */
}
.dsa-box {
  /* border: 2px solid black; */
  width: 300px;
  height: 180px;
  border-radius: 10px;
  background-image: url("https://media.geeksforgeeks.org/auth-dashboard-uploads/dsa1.png");
  background-size: cover;
  background-color: rgb(51, 158, 213);
  cursor: pointer;
}
.Dsa-container {
  width: 70%;
  margin: auto;
}
.dsa-text {
  font-size: 1.4rem;
  padding: 8px;
  color: white;
}
.margin-top {
  margin-top: 60px;
}
.web-box {
  background-image: url("https://media.geeksforgeeks.org/auth-dashboard-uploads/dev1.png");
  background-color: rgb(235, 126, 55);
}
.tut-box {
  background-image: url("https://media.geeksforgeeks.org/auth-dashboard-uploads/learn2.png");
  background-color: rgb(102, 181, 111);
}
.course-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 415px;
  border-radius: 20px;
  /* box-shadow: -1px 1px 1px 1px grey; */
  cursor: pointer;
}
.course-card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  /* box-shadow:  2px 5px 0px 0px grey; */
}
.courses-img {
  width: 300px;
  height: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.course-content {
  background-color: white;
  border-radius: 20px;
}
.courses-text {
  margin-top: 5px;
  font-size: 1.2rem;
  padding: 10px;
  height: 100px;
}
.courses-para {
  /* font-size: ; */
  /* padding: 10px; */
  padding: 10px 10px 5px 10px;
  margin-top: 5px;
}
/* .course-page{
  display: flex;
  padding: 10px;
  gap: 60px;
  background-color: rgb(242,246,244);
} */
.coursebox-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 60px;
  margin-top: 70px;
  margin-bottom: 70px;
}
/* .background-course{
  background-color: rgb(242,246,244);
  
} */
.course-page {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 246, 244);
  /* height: 50vh; */
  /* width: 100vh; */
  margin-top: 70px;
  margin-bottom: 20px;
}
.footer{
  display: flex;
  height: 300px
}
.footer-logo{
  width: 300px;
}
.footer-content{
  width: 250px;
}
.footer-heads{
  color: green;
  margin-bottom: 10px;
}
li{
  list-style: none;
  margin: 5px;
  cursor: pointer;
}
li:hover{
  color:rgb(46,140,70);
}
.footer-address, .footer-email{
  padding: 10px;
  cursor: pointer;
}
.padding-f{
  padding: 0px 3px 0px 3px;
}
.medias{
  margin-top: 20px;
  cursor: pointer;
}
.footerL{
  text-align: center;
}
.mediashover{
  color: grey;
}
.mediashover:hover{
  color: blueviolet;
}
ul{
  border: none;
}
.menu-list:hover{
  background-color: rgb(236,236,236);
}